<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/logo.png" type="image/png">

    <title>SwiftEats</title>
  </head>
  <body>
    <%-include('./partials/nav') %> 
    <%-include('./partials/banner') %> 
    <%-include('./partials/cards') %> 
    <%-include('./partials/location') %> 
    <%-include('./partials/end_credit') %> 
    <%-include('./partials/script') %>
    
  </body>

</html>
