<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/style_2.css">
    <title>Order</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <%- include('./partials/food') %>
    <%- include('./partials/order_card') %>
    <%- include('./partials/end_credit') %>
    <%- include('./partials/script') %>
  </body>
</html>